extends base.pug

block content 
    h4 Change Title of Video!
    form(method="POST")
        input(name="title", placeholder="video Title", value=video.title, required)
        input(name="description", placeholder="Description", type="text", required, minlength=20, value=video.description)
        input(name="hashtags", placeholder="HashTag, separated by comma", type="text", required, value=video.hashtags.join())
        input(value="Save" type="submit")