extends base.pug

block content 
    h1 Watch Video!
    p=video.description
    small=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delet Video &rarr;